@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@layer base {
    :root {
        --background: 0 0% 95%;
        --foreground: 232 29% 10%;

        --card: 0 0% 100%;
        --card-foreground: 232 29% 10%;

        --popover: 0 0% 100%;
        --popover-foreground: 232 29% 10%;

        --primary: 148 70% 35%;
        --primary-foreground: 355.7 100% 100%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 5.9% 10%;

        --accent: 240 4.8% 93%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 360 60% 50%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 85%;
        --input: 240 5.9% 85%;
        --ring: var(--primary);

        --radius: 0.3rem;
    }

    .dark {
        --background: 232 20% 8%;
        --foreground: 0 0% 98%;

        --card: 232 20% 9%;
        --card-foreground: 232 10% 80%;

        --popover: 232 20% 9%;
        --popover-foreground: 0 0% 100%;

        --primary: 148 40% 40%;
        --primary-foreground: 355.7 100% 100%;

        --muted: 232 20% 13%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 232 20% 15%;
        --accent-foreground: 0 0% 100%;

        --destructive: 1 55% 55%;
        --destructive-foreground: 0 0% 98%;

        --border: 232 20% 15%;
        --input: 232 20% 20%;
        --ring: var(--primary);
    }

    * {
        @apply border-border transition ease-out duration-100;
    }

    body {
        @apply bg-background text-foreground;
        font-family: Inter;
    }

    #root {
        @apply h-screen;
    }

    input:focus,
    textarea:focus,
    select:focus,
    button:focus {
        outline: none;
    }

    input,
    textarea,
    button,
    select,
    a {
        -webkit-tap-highlight-color: transparent;
    }
}